{% extends 'base.html' %}

{% block title %}
  Lista de CIDs - {{ block.super }}
{% endblock %}

{% block body %}
  <br />
  <b>Lista de CIDs</b>
  <br />
  <br />
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descricao</th>
      </tr>
    </thead>
    <tbody>
      {% for CID in CID %}
        <tr>
          <th>{{ category.id }}</th>
          <td>{{ category.name }}</td>
          <td>{{ category.description }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}